#autotools files
.deps/
AUTHORS
COPYING
ChangeLog
INSTALL
Makefile
Makefile.in
NEWS
README
aclocal.m4
autom4te.cache/
compile
config.log
config.status
configure
depcomp
install-sh
missing
src/.deps/
src/Makefile
src/Makefile.in

#make files
src/normandy
*.o

